<!-- include header -->
<%- include('include/_header')%>
<!-- /include header -->

<!-- Main Site -->
<main id="site-main">
    <div class="container">
        <div class="box-nav d-flex-justify-between">
            <div class="filter">
                <a href="/lecture-list"><i class="fas fa-angle-double-left"></i> 강의 수정</a>
            </div>
        </div>

        <div class="form-title text-center">
            <h2 class="text-dark">Update Lectures</h2>
            <span class="text-light">User the below form to create a new student Account</span>
        </div>

        <!-- form handling-->
        <form method="POST" id="update_lecture">
            <div class="new_user">
                <div class="form-group">
                    <label for="Lecture" class="text-light">Lecture</label>
                    <input type="hidden" name="id" value="<%= lecture._id %>">
                    <input type="text" name="lecture" value="<%= lecture.lecture %>">
                </div>
                <div class="form-group">
                    <label for="LectureID" class="text-light">LectureID</label>
                    <input type="text" name="lectureID" value="<%= lecture.lectureID %>">
                </div>
                <div class="form-group">
                    <label for="Lecture Time" class="text-light">Lecture Time</label>
                    <input type="number" name="lectureTime" value="<%= lecture.lectureTime %>">
                </div>
                <div class="form-group">
                    <label for="Time" class="text-light">Time</label>
                    First Lecture: <input type="datetime-local" name="firstLecture" value="<%= lecture.firstLecture %>" >
                    Second Lecture: <input type="datetime-local" name="secondLecture" value="<%= lecture.secondLecture %>" >
                </div>
                <div class="form-group">
                    <label for="lesson Time" class="text-light">Lesson Time</label>
                    <input type="number" name="lectureTime" value="<%= lecture.lessonTime %>">
                </div>
                

                <div class="form-group">
                    <button type="submit" class="btn text-dark update">Save</button>
                </div>
            </div>
        </form>
        
    </div>
</main>
<!-- /Main Site -->

<!-- include header -->
<%- include('include/_footer')%>
<!-- /include header -->