<% for(var i = 0; i<lectures.length; i++){ %>
    <tr>
        <td><%= i+1 %></td>
        <td><%= lectures[i].lecture %></td>
        <td><%= lectures[i].lectureID %></td>
        <td><%= lectures[i].lectureTime %></td>
        <td><%= lectures[i].firstLecture %></td>
        <td><%= lectures[i].secondLecture %></td>
        <td><%= lectures[i].lessonTime %></td>
        <td>
            <a href="/update-lecture?id=<%= lectures[i]._id %>" class="btn border-shadow update">
                <span class="text-gradient"><i class="fas fa-pencil-alt"></i></span>
            </a>
            <a class="btn border-shadow delete" data-id=<%= lectures[i]._id %>>
                <span class="text-gradient"><i class="fas fa-times"></i></span>
            </a>
        </td>
    </tr>
    <% } %>